# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
user-profile
tool/user-profile-cli/user-profile-cli

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# bin

# SSH Keys directory
keys
ssh-keys
.keys
.ssh-keys
